<h1>{{title}} {{username}}</h1>
{{#if done}}
  <img
    src="http://localhost:5000/{{avatar}}"
    alt="{{username}}"
    width="100px"
  />

  <h4>Check your <a href="/user/view/{{username}}">profile</a></h4>
  <a href="/logout">Logout</a>
{{else}}
  <form method="POST" action="/login">
    <label for="username">
      <input type="text" name="username" id="username" placeholder="Username" />
    </label>
    <label for="password">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
    </label>

    <label for="submit">
      <input type="submit" value="Login" />
    </label>
  </form>
  Or
  <a href="/">Register</a>
{{/if}}